.col-lg-3
{
    box-sizing: border-box;
    height: 250px;
    padding: 5px;  
    cursor: pointer;

}
.col-lg-3:hover
{
    transform: scale(1.02); 
}
img
{
    margin: auto;
    display: block;
    background-size: cover;
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;

}
.yazi
{
    margin-top: 10px;
    text-align: center;
    
}